body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #ffffff;
  background-color: rgba(40,61,124,.15);
}

h1, h2, h3, h4, h5 {
  margin-top: 2rem;
  color: #212529ff;
}

p {
  color: #212529ff;
}

.row {
  margin-bottom: 0.2rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #b20026ff;
  border: 1px solid #ffffff;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}