STECKBRIEF {
    background-color: #ffffff;
    width: 100%;
}
ALLGEMEIN {
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
}
NAME {
    display: block;
    color: #ff0000;
    font-size: 20pt;
}
VERSION {
    display: block;
    color: #0000ff;
    font-size: 20pt;
}
TYP, THEMENBEREICH {
    display: block;
    color: #000000;
    margin-left: 20pt;
}